<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tailwind CSS Starter</title>
  <!-- Include Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
  <nav class="border-b border-gray-300">
    <div class="max-w-6xl mx-auto py-2 px-6 xl:px-0 flex items-center justify-between">
    </div>
  </nav>
  <main>
    <header class="px-6 py-10 lh:py-20 bg-purple-500">
      <div class="max-w-3xl mx-auto text-center">
        <p class="mb-2 text-3xl lg:text-5xl text-white">Welcome to our site</p>
        <p class="mb-10 text-white">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <a href='#' class="inline-block px-8 py-4 rounded bg-white text-purple-500">Learn more</a>
      </div>
    </header>
    </main>
    <footer class="bg-gray-100">
      <div class="max-w-6xl mx-auto py-2 px-6 xl:px-0 flex items-center justify-between">
        <div class="footer-left mb-12 md:mb-0">
          <h2 class="mb-5 uppercase text-lg">About us</h2>
          <p class='text-gray-700'>welcome to our site</p>
        </div>
        <div class="footer-right">
          <h2 class="mb-5 uppercase text-lg">Social links</h2>
          <ul class="space-y-2"></ul>
          <li><a href="#" class="text-purple-500  hover:text-purple-1000">Facebook</a></li>
          <li><a href="#" class="text-purple-500  hover:text-purple-1000">Instagram</a></li>
          <li><a href="#" class="text-purple-500  hover:text-purple-1000">Github</a></li>


        </div>
      </div>
    </footer>
</body>
</html>
