<!doctype html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>{% block title %}AppleaDay{% endblock %}</title>
    </head>

    <body>
        <nav class="border-b border-gray-300">
            <div class="max-w-6xl mx-auto py-2 px-6 xl:px-0 flex items-center justify-between">
                <div class="menu-left flex items-center space-x-6">
                    15 <a href="{% url 'frontpage' %}" class="py-4 text-lg text-purple-500 font-semibold">AppleaDay</a>

                    <ul class="flex items-center space-x-4">
                        <li><a href="{% url 'shop' %}">Shop</a></li>
                        <li><a href="#">About</a></li>

                        {% if request.user.is.authenticated %}
                        <li><a href="{% url 'logout'%}">About</a></li>

                    {% endif %}
                    </ul>
                </div>

                <div class="menu-right flex items-center space-x-4">
                    <a href="{% url 'login' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </a>


                    {% include 'menu_cart.html' %}
                </div>
            </div>
        </nav>

        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer class="bg-gray-900 fixed bottom-0 left-0 w-full">
            <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
              <div class="lg:flex lg:items-start lg:gap-8 justify-between">
              <!-- Content here -->
            </div>
     
                            

    <div class="mt-8 border-t pt-8 border-gray-800">
      <div class="sm:flex sm:justify-between">
        <p class="text-xs text-gray-400">
          © 2024. Bibek Pandey. All rights reserved.
        </p>

        <ul style="list-style:none;" class="mt-8 flex flex-wrap justify-start gap-4 text-xs sm:mt-0 lg:justify-end">
          <li>
            <a href="https://www.codewithfaraz.com/terms-and-conditions" class="transition hover:opacity-75 text-gray-400">
              Terms & Conditions
            </a>
          </li>

          <li>
            <a href="https://www.codewithfaraz.com/privacy-policy" class="transition hover:opacity-75 text-gray-400">
              Privacy Policy
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</body>
</html>

        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    </body>
</html>