{% extends 'base.html' %}

{% block content %}
<header class="px-6 py-10 lh:py-20 bg-purple-500">
    <div class="max-w-3xl mx-auto text-center">
      <p class="mb-2 text-3xl lg:text-5xl text-white">Welcome to our site</p>
      <p class="mb-10 text-white">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <a href='#' class="inline-block px-8 py-4 rounded bg-white text-purple-500">Learn more</a>
    </div>
</header>

<div class="flex flex-wrap justify-center">
  {% for product in products %}
  {% include "partials/product_list_item.html" %}
  </div>
  {% endfor %}
  
  <!-- Add more product sections here -->
  
  <div class="w-full md:w-1/2 lg:w-1/4 xl:w-1/4 p-6">
      <!-- Product 2 -->
      <a href='#'></a>
      <img class="rounded-xl hover:shadow-lg" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.boostmobile.com%2Fshop%2Fiphone-12.html&psig=AOvVaw34Yb0sIV5TRwmUEMXwe6Gd&ust=1713465078800000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCMClwfzwyYUDFQAAAAAdAAAAABAE">  
      <div class="pt-2 flex items-center justify-between">
        <a href="#">{{ product.name }}</a>
        <a href="#" class="text-purple-500 hover:text-purple-1000">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
              </svg>
          </a>
      </div>
      <p class="pt-1 text-gray-700">$9.99</p>
  </div>
  
  <div class="w-full md:w-1/2 lg:w-1/4 xl:w-1/4 p-6">
    <!-- Product 2 -->
    <a href='#'></a>
    <img class="rounded-xl hover:shadow-lg" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.boostmobile.com%2Fshop%2Fiphone-12.html&psig=AOvVaw34Yb0sIV5TRwmUEMXwe6Gd&ust=1713465078800000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCMClwfzwyYUDFQAAAAAdAAAAABAE">  
    <div class="pt-2 flex items-center justify-between">
      <a href="#">{{ product.name }}</a>
      <a href="#" class="text-purple-500 hover:text-purple-1000">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
            </svg>
        </a>
    </div>
    <p class="pt-1 text-gray-700">$9.99</p>
</div>
<div class="w-full md:w-1/2 lg:w-1/4 xl:w-1/4 p-6">
  <!-- Product 2 -->
  <a href='#'></a>
  <img class="rounded-xl hover:shadow-lg" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.boostmobile.com%2Fshop%2Fiphone-12.html&psig=AOvVaw34Yb0sIV5TRwmUEMXwe6Gd&ust=1713465078800000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCMClwfzwyYUDFQAAAAAdAAAAABAE">  
  <div class="pt-2 flex items-center justify-between">
    <a href="#">{{ product.name }}</a>
    <a href="#" class="text-purple-500 hover:text-purple-1000">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
          </svg>
      </a>
  </div>
  <p class="pt-1 text-gray-700">$9.99</p>
</div>
<div class="w-full md:w-1/2 lg:w-1/4 xl:w-1/4 p-6">
  <!-- Product 2 -->
  <a href='#'></a>
  <img class="rounded-xl hover:shadow-lg" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.boostmobile.com%2Fshop%2Fiphone-12.html&psig=AOvVaw34Yb0sIV5TRwmUEMXwe6Gd&ust=1713465078800000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCMClwfzwyYUDFQAAAAAdAAAAABAE">  
  <div class="pt-2 flex items-center justify-between">
    <a href="#">{{ product.name }}</a>
    <a href="#" class="text-purple-500 hover:text-purple-1000">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
          </svg>
      </a>
  </div>
  <p class="pt-1 text-gray-700">$9.99</p>
</div>
  <!-- Add more product sections here -->
</div>
{% endblock %}
